Repository aarozhkov/ptsd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build status image, Build scheduler image, Build dummy_ptr image, Build supervisor image

Build status image:
  stage: build
  image: docker:20.10.10
  tags:
  - lab
  dependencies:
  - Calculate tag
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY_URL
  script:
  - docker build -f ${DOCKERFILE} -t ${IMAGE_NAME}:${NEW_TAG} -t ${IMAGE_NAME}:latest .
  ...

Build scheduler image:
  stage: build
  image: docker:20.10.10
  tags:
  - lab
  dependencies:
  - Calculate tag
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY_URL
  script:
  - docker build -f ${DOCKERFILE} -t ${IMAGE_NAME}:${NEW_TAG} -t ${IMAGE_NAME}:latest .
  ...

Build dummy_ptr image:
  stage: build
  image: docker:20.10.10
  tags:
  - lab
  dependencies:
  - Calculate tag
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY_URL
  script:
  - docker build -f ${DOCKERFILE} -t ${IMAGE_NAME}:${NEW_TAG} -t ${IMAGE_NAME}:latest .
  ...

Build supervisor image:
  stage: build
  image: docker:20.10.10
  tags:
  - lab
  dependencies:
  - Calculate tag
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY_URL
  script:
  - docker build -f ${DOCKERFILE} -t ${IMAGE_NAME}:${NEW_TAG} -t ${IMAGE_NAME}:latest .
  ...

delete old models path
  models/__init__.py
  models/data.py
  models/tests.py
Due: none

Add/edit Dockerfiles
  Dockerfile_status
  adapter/Dockerfile
  scheduler/Dockerfile
  status/Dockerfile
  supervisor/Dockerfile
Due: Build status image, Build scheduler image, Build dummy_ptr image, Build supervisor image

Update CI with new Dockerfile paths
  .gitlab-ci.yml
Due: none

Do not ignore helm yaml files
  .gitignore
Due: none

Change supervisor port to default one
  supervisor/main.py
Due: Build supervisor image

Add charts for PTSD applications
  helm/apps/Chart.yaml
  helm/apps/adapter.yaml
  helm/apps/scheduler.yaml
  helm/apps/status.yaml
  helm/apps/supervisor.yaml
  helm/apps/templates/deployment.yaml
  helm/apps/templates/ingress.yaml
  helm/apps/templates/service.yaml
  helm/apps/templates/servicemonitor.yaml
  helm/ptsd/Chart.yaml
  helm/ptsd/ptsd.yaml
  helm/ptsd/templates/application.yaml
Due: none

stashing
  scheduler/core/conveer.py
  scheduler/core/ptr_schemas.py
  shared/models/task.py
  supervisor1.py
Due: Build status image, Build scheduler image, Build dummy_ptr image, Build supervisor image

[RCV-53030] Add helm charts
  .gitignore
  .gitlab-ci.yml
  Dockerfile_status
  adapter/Dockerfile
  adapter/adapter.yaml
  helm/apps/Chart.yaml
  helm/apps/templates/configmap.yaml
  helm/apps/templates/deployment.yaml
  helm/apps/templates/ingress.yaml
  helm/apps/templates/service.yaml
  helm/apps/templates/servicemonitor.yaml
  helm/apps/values/adapter.yaml
  helm/apps/values/scheduler.yaml
  helm/apps/values/status.yaml
  helm/apps/values/supervisor.yaml
  helm/ptsd/Chart.yaml
  helm/ptsd/ptsd.yaml
  helm/ptsd/templates/application.yaml
  scheduler/Dockerfile
  status/Dockerfile
  supervisor/Dockerfile
  supervisor/main.py
  tests/disabled_test_statusservice.py
Due: Build status image, Build scheduler image, Build dummy_ptr image, Build supervisor image

Temporary allow test falure
  .gitlab-ci.yml
Due: none

minor fixes Conveer
  scheduler/core/conveer.py
Due: Build scheduler image, Build dummy_ptr image

Fix DNS issue during build stage
  .gitlab-ci.yml
Due: none

[skip ci] Update repo options for ptsd applications
  helm/ptsd/ptsd.yaml
Due: none

[skip ci] disable ingress
  helm/apps/values/adapter.yaml
  helm/apps/values/scheduler.yaml
  helm/apps/values/status.yaml
  helm/apps/values/supervisor.yaml
Due: none

[skip ci] Fix refs for argo applications
  helm/apps/values/adapter.yaml
  helm/apps/values/scheduler.yaml
  helm/apps/values/status.yaml
  helm/apps/values/supervisor.yaml
  helm/ptsd/ptsd.yaml
Due: none

[skip ci] Add imagePullSecrets to the deployment helm template
  helm/apps/templates/deployment.yaml
  helm/apps/values/scheduler.yaml
Due: none

[skip ci] Fix imagePullSecrets
  helm/apps/templates/deployment.yaml
Due: none

[skip ci] Change docker repository url
  helm/apps/values/adapter.yaml
  helm/apps/values/scheduler.yaml
  helm/apps/values/status.yaml
  helm/apps/values/supervisor.yaml
Due: none

[skip ci] Fix deployment template
  helm/apps/templates/deployment.yaml
Due: none

[skip ci] Bump images to 1.0.1
  helm/apps/values/adapter.yaml
  helm/apps/values/scheduler.yaml
  helm/apps/values/status.yaml
  helm/apps/values/supervisor.yaml
Due: none

Latest changes for adapter
  Makefile
  README.md
  adapter/core/adapter.py
  scheduler/core/conveer.py
  scheduler/core/ptr_schemas.py
  shared/models/adapter.py
  shared/models/task.py
  tests/adapter/test_adapter.py
Due: Build status image, Build scheduler image, Build dummy_ptr image, Build supervisor image

Path conditions:
  Build status image: any of: requirements.txt, Dockerfile_status, shared/**/*, status/**/*
  Build scheduler image: any of: requirements.txt, scheduler/Dockerfile, shared/**/*, scheduler/**/*
  Build dummy_ptr image: any of: requirements.txt, shared/**/*, scheduler/**/*, tests/**/*
  Build supervisor image: any of: requirements.txt, Dockerfile, shared/**/*, supervisor/**/*
